* {
    box-sizing: border-box;
    border: 1px solid red;
  }

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    background: #e4e4e4;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}