* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
:root {
  --main-yellow: #a39e1072;
  --back-yellow: #909065;
  --main-black: black;
  --second-black: rgba(0, 0, 0, 0.75);
  --third-black: rgba(0, 0, 0, 0.025);
  --main-grey: #333;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  min-height: 100vh;
  background-color: white;
  color: var(--main-grey);
}

.header-left {
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: var(--third-black);
  color: var(--second-black);
  float: right;
  height: 100%;
  min-width: 256px;
  position: fixed;
  width: 33.33%;
}
.header-info {
  margin: 150px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
}
.me-img {
  border-radius: 50px;
  height: 200px;
  width: 160px;
  margin: 5px;
  padding: 0px;
}

.name {
  font-size: 200%;
  line-height: 150%;
  margin: 0px 5px 10px 5px;
  padding: 2px;
}

.job-title {
  font-size: 110%;
  line-height: 150%;
  margin: 2px;
  padding: 2px;
}

.address {
  font-size: 80%;
  line-height: 150%;
  margin: 2px;
  padding: 2px;
}

.main-right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
  margin: 5px;
  padding: 20px;
}

.drop-button:hover,
.drop-button:focus {
  background-color: var(--back-yellow);
}

.navigation-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 20px 0px;
}

.drop-button {
  font-weight: 700;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  text-align: center;
  width: 100%;
  background-color: var(--main-yellow);
  color: rgb(255, 255, 255);
  position: relative;
  border: none;
  cursor: pointer;
}
.navigation-list {
  display: none;
  position: absolute;
  color: black;
  background-color: var(--main-grey);
  border-radius: 0%;
  min-width: 160px;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.navigation-list-element {
  padding: 10px 20px;
  margin: 1px;
  display: block;
  border-radius: 0%;
}

.navigation-list-element a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
}
.navigation-list-element a:hover,
.navigation-list-element a:focus,
.navigation-list-element:hover,
.navigation-list-element:focus {
  background-color: var(--back-yellow);
  color: #ffffff;
}

.show {
  display: block;
}

.footer-right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.job {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  background: #e4e4e4;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: static;
  width: 100%;
  bottom: 0;
}

.up {
  display: inline-block;
  width: 100%;
  margin: 20px 0px;
  font-weight: 700;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-yellow);
  color: rgb(255, 255, 255);
  position: relative;
  border: none;
  cursor: pointer;

}

.up:hover,
.up:focus {
    background-color: var(--back-yellow); 
}